
body 
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lightblue;
    color: lightgrey;
    margin: 0;
    padding: 0;
}


.info 
{
    width: 80%;
    padding: 30px;
    margin: 40px auto;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}


h1
{
    font-size: 36px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

h2, h3, h4 
{
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}


ul
{
     padding-left: 0;
     color: black;

}

ul li
{
    
    color: black;
    padding-left: 30px;
    margin: 10px 0;
    margin-bottom: 10px;
    font-size: 18px;
    list-style-type: square;
}


.pic {
    display: block;
    border-radius: 10px;
    width: 400px;
    border:6px ridge black;
    margin: 20px auto;
}



p {
    color: black;
    margin-bottom: 20px;
    font-size: 16px; 
    line-height: 1.6;
}


