
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lightblue;
    color: lightgrey;
    margin: 0;
    padding: 0;
}


.info {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


h1 {
    font-size: 36px;
    color: #2a2a2a;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3, h4 {
    color: black;
    margin-top: 20px;
}


ul {
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 18px;
}


.pic {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}



p {
    margin-bottom: 20px;
}


h1, h2, h3, h4 {
    margin-bottom: 10px;
}
